<table style="font-weight: 500; background-color: gray">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Errors</th>
        <th>Warnings</th>
    </tr>

    <tr v-for="item in summary">
        <td>{{ item.sceneID }}</td>
        <td>{{ item.sceneName }}</td>
        <td style="color: red;">{{ item.errorNumber }}</td>
        <td style="color: goldenrod;">{{ item.warningNumber }}</td>
    </tr>
</table>
